.header {
    display: flex;
    align-items: center; 
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #FFF8E1; 
}

.h1{
    flex-grow: 1; 
    text-align: center;
    font-family: 'Georgia', serif; 
    font-size: 2em; 
    font-weight: bold; 
    color: #333; 
}
.img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    cursor: pointer;
}
