body {
    margin: 0;
    padding: 0;
}

.signUp{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url('../../assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.centered-container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff8e1;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 8px;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    background-color: #fff;
}

.form-group input::placeholder {
    color: #aaa;
    font-size: 14px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form-row .form-group {
    flex: 1;
    min-width: 250px;
    margin-bottom: 0;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #8d5400;
}

.a{
    color: #ff9800;
}

.a:hover{
    color: #8d5400;
}